<body>
{% include "parts/_nav_.njk" %}
{% include "parts/_article_.njk" %}
{% if U_o.dev_b === false %}{% include "parts/_instant_page_.njk" %}{% endif %}
{% include "parts/_script_.njk" %}
{% if no_comments !== true %}
{% include "parts/_colophon_.njk" %}
{% include "parts/_comment_.njk" %}
{% endif %}
</body>
