<body data--="body">
{% include "parts/_banner_.njk" %}
{% include "parts/_link_page_.njk" %}
{% include "parts/_article_.njk" %}
{% include "parts/_menu_iframe_.njk" %}
{% if no_comments !== true %}{% include "parts/_comment_.njk" %}{% endif %}
{% include "parts/_script_.njk" %}
{% if U_o.dev_b === false %}{% include "parts/_instant_page_.njk" %}{% endif %}
</body>
