<body data--="body">
  <link rel="stylesheet" href="{{ U_o.url_s }}assets/styles/css/lib.min.css" />
{% include "parts/_banner_.njk" %}
{% include "parts/_link_page_.njk" %}
{% include "parts/_article_.njk" %}
  <link rel="stylesheet" href="{{ U_o.url_s }}assets/styles/css/lib_menu.min.css" />
{% include "parts/_menu_iframe_.njk" %}

{% include "parts/_script_.njk" %}
{% if U_o.dev_b === false %}{% include "parts/_instant_page_.njk" %}{% endif %}
</body>
