<head>
{% include "parts/_head_.njk" %}
{% include "parts/_site_url_.njk" %}
{% include "parts/_seo_.njk" %}
{% include "parts/_description_.njk" %}
{% include "parts/_favicon_.njk" %}
{% include "parts/_feed_.njk" %}
{% include "parts/_font_inline_.njk" %}
{% include "parts/_style_inline_.njk" %}
</head>
