{% set data_o = D_o.data__o( permalink, collections.all ) %}

{{- '' | template_start( data_o ) -}}{# ante process #}

{%- set _template_s %}
<?xml version="1.0" encoding="utf-8"?>
{% include "parts/blocks/_feed_.njk" %}
{% endset -%}

{{- _template_s | safe | template_end( data_o ) | minify_html -}}{# post process #}
