<script
  data--="utterances_script"
  src="https://utteranc.es/client.js"
  repo="{{ A_o.AUTHOR_s }}/{{ A_o.ID_s.toLowerCase() }}"
  issue-term="title"
  theme="photon-dark"
  crossorigin="anonymous"
  async></script>
