<label data--="header">
  <span data--="header_title">{{ A_o.NAME_s }}</span>
  <span data--="header_menu">{{ 'All ' + A_o.COLLECTION_s + 's' }}</span>
</label>
<iframe data--="menu_frame" src="{{ _URL_s }}menu_list.html"></iframe>
