:root
{
  --c_hue_p: {{C_o.HUE_P_n}};
  --c_hue_s: {{C_o.HUE_S_n}};
  --c_hue_i: {{C_o.HUE_I_n}};
  --c_hue_d: {{C_o.HUE_D_n}};
  --c_hue_l: {{C_o.HUE_L_n}};

  --c_sat:    50%;
    --c_sat_hi: 90%;
    --c_sat_lo: 10%;

  --c_lum:    50%;
    --c_lum_hi: 90%;
    --c_lum_lo: 10%;

  --c_opac: .5;
    --c_opac_hi: 1;
    --c_opac_lo: .2;

  /*--c_primary:    hsla( var(--c_hue_p), var(--c_sat),    var(--c_lum), var(--c_opac_hi) );*/
    --c_prim_tr:    hsla( var(--c_hue_p), var(--c_sat),    var(--c_lum), 0.6 );
  /*  --c_prim_hi:    hsla( var(--c_hue_p), var(--c_sat_hi), var(--c_lum_hi), var(--c_opac_hi) );*/
    --c_prim_lo:    hsla( var(--c_hue_p), var(--c_sat_hi), 16%, var(--c_opac_hi) );

  --c_secondary:  hsla( var(--c_hue_s), var(--c_sat),    var(--c_lum), var(--c_opac_hi) );
    --c_sec_hi:     hsla( var(--c_hue_s), var(--c_sat_hi), var(--c_lum_hi), var(--c_opac_hi) );
  /*  --c_sec_lo:     hsla( var(--c_hue_s), var(--c_sat_lo), var(--c_lum_lo), var(--c_opac_hi) );*/

    --c_back:       hsla( var(--c_hue_p), var(--c_sat_hi), var(--c_lum_hi), .4 );
    --c_back_hi:    hsla( var(--c_hue_p), var(--c_sat_hi), var(--c_lum_hi), .2 );
    --c_back_lo:    hsla( var(--c_hue_p), var(--c_sat_hi), var(--c_lum_hi), .6 );
    --c_back_op:    hsla( var(--c_hue_p), var(--c_sat_hi), 93%, var(--c_opac_hi) );  /* equals --c_back_hi but opaque */
  
  --c_decor:       hsla( var(--c_hue_d), var(--c_sat_hi), var(--c_lum), var(--c_opac) );
    --c_decor_hi:    hsla( var(--c_hue_d), var(--c_sat_hi), var(--c_lum_hi), var(--c_opac_hi) );
    --c_decor_lo:    hsla( var(--c_hue_d), var(--c_sat_hi), var(--c_lum_lo), var(--c_opac_lo) );
    --c_advice:      hsla( var(--c_hue_d), var(--c_sat), var(--c_lum), var(--c_opac_lo) );

  --c_extern:  hsla( var(--c_hue_p), var(--c_sat), var(--c_lum_lo), var(--c_opac) );
  --c_link:    hsla( var(--c_hue_l), var(--c_sat_hi), var(--c_lum), 1 );

/*  --c_important:  hsla( var(--c_hue_i), var(--c_sat_hi), var(--c_lum), var(--c_opac_hi) );*/

}
