:root
{
  --c_hue_base: {{C_o.HUE_BASE_n}};
  --c_hue_p: calc( var(--c_hue_base) + 0 );
  --c_hue_s: calc( var(--c_hue_base) + {{C_o.HUE_S_n}} );
  --c_hue_i: calc( var(--c_hue_base) + {{C_o.HUE_I_n}} );
  --c_hue_d: calc( var(--c_hue_base) + {{C_o.HUE_D_n}} );
  --c_hue_l: calc( var(--c_hue_base) + {{C_o.HUE_L_n}} );

  --c_sat:       50%;
    --c_sat_hi:  94%;
    --c_sat_mhi: 72%;
    --c_sat_mlo: 28%;
    --c_sat_lo:  6%;

  --lum_mode: -1;
  --lum_base: 50;

  --c_lum:      calc( ( var(--lum_base) +  0 ) * 1% );
    --c_lum_hi: calc( ( var(--lum_base) + ( var(--lum_mode) * 40) ) * 1% );
    --c_lum_lo: calc( ( var(--lum_base) - ( var(--lum_mode) * 40) ) * 1% );
    --c_lum_me: calc( ( var(--lum_base) - ( var(--lum_mode) * 20) ) * 1% );

  --c_opac:      .5;
    --c_opac_hi: 1;
    --c_opac_lo: .2;

  /*--c_primary:    hsla( var(--c_hue_p), var(--c_sat),    var(--c_lum), var(--c_opac_hi) );*/
    --c_prim_tr:    hsla( var(--c_hue_p), var(--c_sat),    var(--c_lum), var(--c_opac) );
    --c_prim_hi:    hsla( var(--c_hue_p), var(--c_sat_hi), var(--c_lum_hi), var(--c_opac_hi) );
    --c_prim_lo:    hsla( var(--c_hue_p), var(--c_sat_hi), var(--c_lum_lo), var(--c_opac_hi) );

  --c_secondary:  hsla( var(--c_hue_s), var(--c_sat), var(--c_lum), var(--c_opac_hi) );
    --c_sec_hi:     hsla( var(--c_hue_s), var(--c_sat_hi), var(--c_lum_hi), var(--c_opac_hi) );
    --c_sec_lo:     hsla( var(--c_hue_s), var(--c_sat_lo), var(--c_lum_lo), var(--c_opac_hi) );

    --c_back:       hsla( var(--c_hue_p), var(--c_sat_hi), var(--c_lum_hi), .4 );
    --c_back_hi:    hsla( var(--c_hue_p), var(--c_sat_hi), var(--c_lum_hi), .2 );
    --c_back_lo:    hsla( var(--c_hue_p), var(--c_sat_hi), var(--c_lum_hi), .6 );
    --c_back_op:    hsla( var(--c_hue_p), var(--c_sat_hi), var(--c_lum_hi), var(--c_opac_hi) );  /* equals --c_back_hi but opaque */
  
  --c_decor:       hsla( var(--c_hue_d), var(--c_sat_hi), var(--c_lum), var(--c_opac) );
    --c_decor_hi:    hsla( var(--c_hue_d), var(--c_sat_hi), var(--c_lum_hi), var(--c_opac_hi) );
    --c_decor_lo:    hsla( var(--c_hue_d), var(--c_sat_hi), var(--c_lum_lo), var(--c_opac_lo) );
    --c_advice:      hsla( var(--c_hue_d), var(--c_sat), var(--c_lum), var(--c_opac_lo) );

  --c_extern:  hsla( var(--c_hue_p), var(--c_sat), var(--c_lum_lo), var(--c_opac) );

  --c_link:    hsla( var(--c_hue_l), var(--c_sat_hi), var(--c_lum_lo), var(--c_opac_hi) );
    --c_link_hi:    hsla( var(--c_hue_l), var(--c_sat_hi), var(--c_lum), var(--c_opac) );

/*  --c_important:  hsla( var(--c_hue_i), var(--c_sat_hi), var(--c_lum), var(--c_opac_hi) );*/

}
