:root
{
  --font_title: 'Athiti', sans-serif;
  --font_body:  'Harmattan', sans-serif;
  --font_mono:  'Fira Code', monospace;
  --font_code: 90%;    /* Fira Code adjustment */
}

h1,
h2,
h3,
[data--=header_title]
  {font-family:var(--font_title)}

.note_open,
[data--=article],
[data--=header_menu],
[data--=tips_menu],
[data--=tips_item]
  {font-family:var(--font_body)}

.toolbar-item > button,
[data--=header_menu],
[data--=code_ref],
[data--=example],
[data--=example]::before
  {font-size:var(--font_code)}

h1,
h2,
h3,
[data--="page_intro"],
[data--="example"]::before
  {font-style:italic;}

[data--="header_title"]
  { font-size: 6rem; }
  
[data--="header_title"]
  { font-weight: 900; }
