*
  {box-sizing: border-box;}

::before,
::after
  {box-sizing: inherit;}

body,
h1, h2, h3, h4, h5, h6,
p,
dl, ul, ol,
hr,
table,
blockquote,
address,
menu,
pre,
iframe,
form,
figure,
button,
input,
/*optgroup,*/
select,
textarea,
fieldset
  {margin: 0;}

ul,
ol,
button,
input,
/*optgroup,*/
select,
textarea,
fieldset,
legend,
menu,
[type='checkbox'],
[type='radio']
  {padding: 0;}

ul,
ol
  {list-style: none;}

dd
  {margin-left: 0;}

[hidden],
template
{ display: none;}

::-webkit-file-upload-button,
::-webkit-input-placeholder,
:-ms-input-placeholder,
::-ms-input-placeholder,
::placeholder
  {font: inherit;}

h1, h2, h3, h4, h5, h6,
pre,
code,
kbd,
samp
  {font-size: inherit;}

small
  {font-size: 80%;}

sub,
sup
  {font-size: 75%;}

h1, h2, h3, h4, h5, h6
  {font-weight: inherit;}

address
  {font-style: inherit;}

h1, h2, h3, h4, h5, h6
  {line-height: inherit;}

dd
  {margin-left: 0;}

pre,
code,
kbd,
samp
  {font-family: monospace, monospace;}

a,
button,
input,
/*optgroup,*/
select,
textarea
  {background-color: transparent;}

a,
legend
  {color: inherit;}

a
  {text-decoration: none;}

dl,
ol,
ul
  {list-style: none;}
  
button,
select
  {text-transform: none;}

caption,
th
  {text-align: left;}
  
hr,
button,
input,
/*optgroup,*/
select,
textarea,
fieldset,
embed,
object,
iframe
  {border: 0;}

button,
input
  {overflow: visible;}

button,
[type='button'],
[type='reset'],
[type='submit']
  {cursor: pointer;}

button[disabled],
[type='button'][disabled],
[type='reset'][disabled],
[type='submit'][disabled]
  {cursor: default;}



/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
 html
{
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -webkit-tap-highlight-color: transparent; /* 3*/

  --base_u: 8;
  --font_min: calc( var(--base_u) * 2 );
  --font_max: calc( var(--base_u) * 3 );
  --screen_min: 400;
  --screen_max: 1600;

  font-size: calc( (var(--font_min) * 1px)
  + ( var(--font_max) - var(--font_min) )
  * ( 100vw - (var(--screen_min) * 1px) )
  / ( var(--screen_max) - var(--screen_min) ) );
}

body
{
  --font_u: 1em;  /* font unit */
  --font_r: 1.1;  /* font ratio */
  --line_width: var(--LINE_WIDTH);

  padding: 0 8vw;
  background: var(--c_back_lo);
  font-size: var(--font_u);
  font-weight: 400;
  letter-spacing: .01em;
  line-height: 1.2;
}

h1    /* Title */
{
  margin-top: 4rem;
  font-size: calc( var(--font_u) * var(--font_r)  * 2.4 );
  font-weight: 800;
}
h2,
h3
{
  margin-bottom: .5rem;
  font-weight: 400;
  line-height: 1;
}
h2    /* Section */
{
  margin-top: 4rem;
  border-bottom: .1rem solid var(--c_decor);
  font-size: calc( var(--font_u) * var(--font_r)  * 1.8 );
  line-height: .7;
}
h3    /* Subsection */
{
  margin-top: 2rem;
  font-size: calc( var(--font_u) * var(--font_r)  * 1.5 );
}

hr
{
  border-top: var(--BORDER_1) solid var(--c_decor);
  margin: 3rem 0 2rem 0;
}

nav
{
  background: var(--c_back);
}

section > p,
section > footer,
section > table,
section > ol,
section > ul
{
  max-width: var(--line_width);
}

pre
{
  background: transparent;
  border-left: var(--BORDER_2) solid var(--c_decor_hi);
  overflow-y: hidden;
}

code
{
  padding: .2rem .5rem;
  font-family: var(--font_mono);
}

pre > code
{
  /*display: block;*/
  white-space: pre;
}

p > code
{
  /*display: inline-block;*/
  font-size: inherit;
  white-space: pre;
}

blockquote
{
  /*margin-left: 0;
  margin-right: 0;*/
  padding: 1rem 1.5rem;
  border-left: var(--BORDER_2) solid var(--c_sec_hi);
}

blockquote *:last-child
{
  margin-bottom: 0;
}

dl dl,
dl ol,
dl ul,
ol dl,
ol ol,
ol ul,
ul dl,
ul ol,
ul ul
{
  font-size: var(--font_u);
  margin: .5rem 0 .5rem 1rem;
}

/*
ol
{
  list-style: decimal inside;
}

ul
{
  list-style: circle inside;
}
*/

dd,
dt,
li
{
  margin-bottom: 1.0rem;
}

table
{
  border-spacing: 0;
  width: 100%;
}

td,
th
{
  border: 0.1rem solid var(--c_decor);
  padding: .4rem .8rem;
  text-align: left;
}

td:first-child,
th:first-child
{
  padding-left: 1rem;
}

td:last-child,
th:last-child
{
  padding-right: 0;
}

b,
strong
{
  font-weight: bold;
}

a
{
  position: relative;
}
a:not(.note_link)::before,
a:not(.note_link)::after
{
  content: '';
  position: absolute;
  bottom: .3rem;
  left: 0;
  right: 0;
  background-color: var(--c_link_hi);
  transform-origin: bottom left;
  transition: transform 0.3s ease;
}
a:not(.note_link)::before
{
  height: 1px;
}
a:not(.note_link)::after
{
  height: 4px;
  transform: scaleX(0);
}

a:not(.note_link):hover::after
{
  transform: scaleX(1);
}

a:not(.note_link):focus,
a:not(.note_link):hover
{
  color: var(--c_link);
}

[href="{{U_o.NETLIFY_s}}"],
[href="{{U_o.NETLIFY_s}}"]::before,
[href="{{U_o.NETLIFY_s}}"]::after,
[href="{{U_o.NETLIFY_s}}"]:focus,
[href="{{U_o.NETLIFY_s}}"]:hover
{
  background-color: transparent;
}

blockquote,
p,
table,
dl,
ol,
ul
{
  margin-top: 1.5rem;
}
pre
{
  margin-bottom: 1rem;
}
