:root
{
  --MENU_SHOW: 0;
}

[data--=menu_iframe]
{
  position:absolute;
  height: 0;
}

[data--=menu]
{
  --inline_note: menu_notes;

  counter-reset: var(--inline_note);
  top: 0;  /* default position */
}

[data--=menu_order]::after
{
  content: '⇅';
  margin-left: var(--PAD_8);
  font-size: 80%;
  font-style: normal;
}

[data--=menu_item]
{
  display: flex;
  margin: 0;
}

[data--=menu_item] span
{
  margin-left: var(--PAD_2);
  padding: var(--PAD_1);
  font-style: oblique;
  color: var(--c_sec_lo);
}
