/**
 *  __<br/>__
 * line: <u></u>
 *  __Title of the note__
 *  *Bold text*
 */

[data--=article]
{
  --inline_note: article_notes;
  --examples: examples;

  counter-reset: var(--inline_note) var(--examples);
}

[data--^=note_]
{
  --font_body:   90%;
  --font_sup:    60%;
  --font_strong: 120%;

  text-decoration: none;
}

[data--=note_img] > [data--=note_content] > img
{
  object-fit: fill;
  object-position: left top;
}

[data--=note_content]
{
  overflow: hidden;
  break-before: avoid;
  break-inside: avoid;
  break-after: avoid;
  width: 0;
  height: 0;
  pointer-events: none;
}

[data--^=note_] > sup
{
  counter-increment: var(--inline_note);
  top: -0.6rem;
  margin-right: .5rem;
  padding: 0 var(--PAD_2);
  border-bottom: var(--BORDER_1) solid var(--c_prim_tr);
  vertical-align: baseline;
  font-size: var(--font_sup);
}
[data--=note_img] > sup
{
  border-bottom: var(--BORDER_1) solid var(--c_prim_hi);
}
[data--^=note_] > sup::after
{
  content: counter( var(--inline_note) );
}

[data--=note_content] u    /* horizontal line */
{
  /*display: inline-block;*/
  border-top: .1rem solid var(--c_prim_tr);
}

[data--=note_content] strong    /* title */
{
  /*display: inline-block;*/
  margin-top: var(--PAD_4);
  font-size: var(--font_strong);
  font-weight: 900;
  font-style: normal;
}

[data--=note_content] em    /* emphasis */
{
  font-weight: 900;
  font-style: normal;
}

[data--=note_content] a  /* link */
{
  text-decoration: none;
  pointer-events: auto;
}

[data--=note_content] cite    /* citation */
{
  padding-left: var(--PAD_4);
}
[data--=note_content] cite::before
{
  content: '\00ab';
}
[data--=note_content] cite::after
{
  content: '\00bb';
}

.note_open    /* after [data--=note_content] */
{
  display: flex;
  flex-direction: column;
  margin: var(--PAD_2) var(--PAD_4) var(--PAD_2) 0;
  padding: var(--PAD_1) var(--PAD_2);
  width: auto;
  height: auto;
  color: var(--text_color);
  background-color: var(--bg_color);
  border-left: var(--PAD_2) solid var(--line_color);
  font-size: var(--font_body);
  transition: all 0.25s ease;
}

[data--=note_img] .note_open
{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin:  0;
  padding: 1rem;
  width: calc( var(--BODY_WIDTH) - var(--PAD_2) );
  border-left: none;
  background: transparent;
}

.note_link_a
{
  --button_n: 1;
  --button_dim: 3rem;
  --button_gap: .5rem;

  margin: .5rem;
  display: flex; /*flex-direction: row;*/
  width: calc( (var(--button_n) * var(--button_dim)) + (var(--button_n) * var(--button_gap)) );
  font-size: calc( var(--button_dim) * .6 );
  line-height: 1;
}

.note_link
{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: .25rem;
  width:  var(--button_dim);
  height: var(--button_dim);
  background:          hsla(var(--c_hue_s), var(--c_sat_hi), var(--c_lum_hi), 1.0);
  color:               hsla(var(--c_hue_d), var(--c_sat_mlo), var(--c_lum_lo), 1.0);
  border: .2rem solid hsla(var(--c_hue_d), var(--c_sat_mlo), var(--c_lum_lo), .5);
  border-radius: .5rem;
}
.note_link:hover
{
  filter: var(--BUTTON_HOVER);
}
.note_link:focus
{
  filter: var(--BUTTON_FOCUS);
}

.note_link::before,
.note_link::after
{
  display: none;
}

.note_open > [data-src]
{
  width: 100%;
  object-fit: scale-down;
}

[src^="data:image/gif;base64,R0"]
{
  display: none;
}
