/* PRISM.css custom theme: Mint
*/
:root
{
  --h_punctuation: calc( var(--c_hue_p) +  30 );
  --h_operator:    calc( var(--c_hue_p) +  70 );
  --h_selector:    calc( var(--c_hue_p) + 110 );
  --h_keyword:     calc( var(--c_hue_p) + 150 );
  --h_comment:     calc( var(--c_hue_p) + 190 );
  --h_boolean:     calc( var(--c_hue_p) + 230 );
  --h_property:    calc( var(--c_hue_p) + 270 );
  --h_regex:       calc( var(--c_hue_p) + 300 );
  --h_atrule:      calc( var(--c_hue_p) + 350 );
  
  --sat: 90%;
  --lum: 75%;
}

p > code,
code[class*=language-],
pre[class*=language-],
[data--=note_content] code
{
	font-family: 'Fira Code', monospace;
}

code[class*=language-],
pre[class*=language-]
{
  color: hsla( var(--c_hue_p), var(--c_sat_lo), 90%, 1 );
	font-size: 90%;
}

:not(pre) > code[class*=language-],
pre[class*=language-]
{
  color: hsla( var(--c_hue_p), var(--c_sat_lo), var(--c_lum_lo), 1 );
	background: hsla( var(--c_hue_p), var(--c_sat_lo), 10%, 1 );
}

[data--=note_content] code,
p > code
{
  color: hsla( var(--c_hue_p), var(--c_sat_lo), var(--c_lum_lo), 1 );
	background: hsla( var(--c_hue_p), var(--c_sat_lo), var(--c_lum_hi), .5 );
	font-size: 70%;    /* Fira Code adjustment */
  border-radius: 4px;
}


.toolbar-item > button
{
  padding: var(--PAD_1) var(--PAD_2);
  border: .1rem solid var(--c_decor);
}
.toolbar-item > button:hover
{
  cursor: pointer;
  transition: .3s ease-in;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: hsla( var(--h_comment), var(--sat), var(--lum), 1);
}

.token.punctuation {
	color: hsl( var(--h_punctuation), var(--sat), var(--lum), 1);
}

.token.property,
/*
.token.parameter,
.token.interpolation,
*/
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
	color: hsl( var(--h_property), var(--sat), var(--lum), 1);
}

.token.boolean,
.token.number {
	color: hsl( var(--h_boolean), var(--sat), var(--lum), 1);
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
	color: hsl( var(--h_selector), var(--sat), var(--lum), 1);
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
	color: hsl( var(--h_operator), var(--sat), var(--lum), 1);
}

.token.atrule,
.token.attr-value,
.token.function,
.token.class-name {
	color: hsl( var(--h_atrule), var(--sat), var(--lum), 1);
}

.token.keyword {
	color: hsl( var(--h_keyword), var(--sat), var(--lum), 1);
}

.token.regex,
.token.important {
	color: hsl( var(--h_regex), var(--sat), var(--lum), 1);
}

.namespace {
	opacity: .7;
}
