.unseen
{
  height: 1px;
  width:  1px;
  overflow: hidden;
  opacity: 0;
  clip: rect( 1px, 1px, 1px, 1px );
  pointer-events: none;
}

.zero_height
{
  top: 100vh;
  transform: scaleY( 0 );
  pointer-events: none;
}

.half_width
{
  width: calc( var(--line_width) * .5 );
}

.svg_icon
{
  --stroke_opacity: var(--c_opac);

  stroke: hsla( var(--c_hue_p), var(--c_sat_lo), var(--c_lum_lo), var(--stroke_opacity) );
  stroke-width: 2;
  transform: scale( 1 );
}
.svg_icon:hover
{
  --stroke_opacity: var(--c_opac_hi);
  transform: scale( 1.2 );
  transition: .3s ease;
}

[data--=header]
{
  padding-top: var(--PAD_8);
  padding-bottom: var(--PAD_2);
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1.2rem solid var(--c_decor);
  opacity: 1;
  cursor: crosshair;
  transition: opacity .5s ease;
}
[data--=header]:hover::after
{
  content: attr( data-theme );
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--BODY_WIDTH);
  padding: calc( var(--PAD_1) * 5.5 ) var(--PAD_2);
  color: var(--c_prim_lo);
  background: var(--c_decor);
  border: 2px solid var(--c_sec_lo);
  font-family: var(--font_body);
  font-size: 120%;
  font-weight: 400;
  transition: opacity .5s ease;
}

[data--=header]:hover > *
{
  opacity: 0;
  transition: opacity .5s ease;
}


[data--=header_title]
{
  margin-left: var(--PAD_1);
  line-height: .55;    /* border-bottom as underline */
  color: var(--c_prim_lo);
  filter: grayscale(65%);
}

[data--=section]
{
  padding: var(--PAD_1);
}

[data--=section] > h1
{
  margin-top: 0;
}

[data--=page_intro]
{
  margin-top: 1rem;
  font-size: calc( var(--font_u) * var(--font_r)  * 1.5 );
}

[data--=code_ref]
{
  margin-top: var(--PAD_4);
  padding: var(--PAD_1) var(--PAD_2);
  display: flex;
  justify-content: space-between;
	color: hsla(var(--c_hue_d), var(--c_sat_hi), var(--c_lum_lo), var(--c_opac_hi));
	font-size: 90%;
  letter-spacing: -.05rem;
  line-height: 1;
}

/* [data--=code_ref] > h5: Subtitle | File path */
/* [data--=code_ref] > h6: Reference | Source */

[data--=code_ref] > h5
{
	color: hsla(var(--c_hue_d), var(--c_sat_hi), var(--c_lum_lo), var(--c_opac_hi));
}
[data--=code_ref] > h6 > a
{
	color: hsla( var(--c_hue_l), var(--c_sat_hi), var(--c_lum_lo), var(--c_opac_hi));
  font-weight: 200;
}

[data--=example]
{
  counter-increment: var(--examples);
  padding-left: var(--PAD_2);
  color: hsla( var(--c_hue_s), var(--c_sat_lo), var(--c_lum_lo), var(--c_opac_hi));
}
[data--=example]::before
{
  content: 'example #' counter( var(--examples) );
  margin-bottom: var(--PAD_2);
  padding-left: var(--PAD_1);
  border-bottom: 1px solid var(--c_decor_lo);
}

[data--=ulist]
{
  margin: 0 0 0 1rem;
  padding-left: 0;
  /*list-style: none;*/
}

[data--=ulist]  > li
{
  --border_opac: .6;
  --border_color: hsla( var(--c_hue_p), var(--c_sat), 80%, var(--border_opac) );

  margin: 0;
  padding-left: var(--PAD_2);
  border-left: var(--BORDER_1) solid var(--border_color);
}
[data--=ulist]  > li >  [data--=ulist]  > li
{
  --border_opac: .4;
}
[data--=ulist]  > li >  [data--=ulist]  > li >  [data--=ulist]  > li
{
  --border_opac: .3;
}

[data--=ulist]  > li::before
{
  --char_size: .5rem;

  content: '▶';
  /*position: relative;*/
  top: calc( var(--char_size) * -0.125 );
  left: calc( var(--char_size) * -1 );
  color: var(--border_color);
  font-size: var(--char_size);
}

[data--=important]
{
  padding: 0 var(--PAD_2);
  background: var(--c_advice);
  border-left: var(--BORDER_3) solid var(--c_decor);
}
[data--=important]::before
{
  content: '▶';
  /*position: relative;*/
  left: calc( var(--BORDER_2) * -.5 );
}

[data--=link_page]
{
  /*position: sticky;*/
  top: 0;
  height: 6.5rem;
}

[data--=link_nav]
{
  display: flex;
  margin-top: 0;
}

[data--=link_nav] > button
{
  margin-bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--PAD_2);
  border: 1px solid var(--c_decor);
}

[data--=link_previous],
[data--=link_menu],
[data--=link_next]
{
  flex-grow: 2;
}

[data--=link_info]
{
  margin-top: 0;
  padding: var(--PAD_2);
  width: 100%;
  display: flex;
  flex-flow: column;
  background: var(--c_decor_hi);
  transform-origin: top;
  transition: .15s ease;
}

[data--=link_info] > *
{
  --margin_left: 1rem;

  margin: 0;
  width: calc( 100% - var(--margin_left) );
}
[data--=link_info] > dt
{
  font-weight: 600;
}
[data--=link_info] > *:not(:first-child)
{
  position: relative;
  left: var(--margin_left);
}

[data--=colophon]
{
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--PAD_2);
}

.retract
{
  width: 0;
  height: 0;
  opacity: 0;
  transform: scaleY( 0 );
  transform-origin: top left;
  transition: .15s ease;
}

hr
{
  margin-top: 0;
}
