{% set _js %}
{% include "./parts/_dom_.js" %}
{% include "./parts/_service_.js" %}
{% include "./parts/_link_page_.js" %}
{% include "./parts/_ui_.js" %}
{% endset %}
{% if U_o.dev_b === true %}{{ _js | safe }}
{% else %}{{ _js | safe }}
{% endif %}
