{% set css %}
{% include "./partials/destyle.css" %}
{% include "./partials/rootvar.css" %}
{% include "./partials/font.css" %}
{% include "./partials/color.css" %}
{% include "./partials/html.css" %}
{% include "./partials/aspect_ratio.css" %}
{% include "./partials/prism_theme.css" %}
{% include "./partials/ui.css" %}
{% include "./partials/notes.css" %}
{% endset %}
{% if settings.develop === true %}{{ css | safe }}
{% else %}{{ css | cssmin | safe }}
{% endif %}
