{% set css %}
{% include "./partials/reset.css" %}

{% include "./partials/font.css" %}
{% include "./partials/color.css" %}
{% include "./partials/prism_theme.css" %}
{% include "./partials/aspect_ratio.css" %}
{% include "./partials/11ty.css" %}
{% endset %}
{{ css | cssmin | safe }}
