{% set css %}
{#% include "./partials/reset.css" %#}
{% include "./partials/destyle.css" %}
{% include "./partials/font.css" %}
{% include "./partials/color.css" %}
{% include "./partials/prism_theme.css" %}
{% include "./partials/aspect_ratio.css" %}
{% include "./partials/html.css" %}
{% include "./partials/ui.css" %}
{% endset %}
{{ css | cssmin | safe }}
