
<style>@font-face {font-display:swap;font-family:'Harmattan';font-style:normal;font-weight:400;src:local('Harmattan'),local('Harmattan-Regular'),url('{{@SITE_URL}}assets/fonts/harmattan-v5-latin-regular.woff2')format('woff2')}@font-face {font-family:'Athiti';font-style:normal;font-weight:400;src:local('Athiti'),local('Athiti-Regular'),url('{{@SITE_URL}}assets/fonts/athiti-v3-latin-regular.woff2')format('woff2')}@font-face {font-display:swap;font-family:'Fira Code';src:local('Fira Code'),local('Fira Code-Regular'),url('{{@SITE_URL}}assets/fonts/FiraCode-Regular.woff2')format('woff2');font-weight:400;font-style:normal}</style>