<link rel="preload" href="{{ @_URL }}assets/fonts/harmattan-v5-latin-regular.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="{{ @_URL }}assets/fonts/athiti-v3-latin-regular.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="{{ @_URL }}assets/fonts/FiraCode-Regular.woff2" as="font" type="font/woff2" crossorigin>
<!--<link rel="preload" href="{{ @_URL }}assets/fonts/FiraCode-Light.woff2" as="font" type="font/woff2" crossorigin>-->
<!--<link rel="preload" href="{{ @_URL }}assets/fonts/FiraCode-Medium.woff2" as="font" type="font/woff2" crossorigin>-->
<!--<link rel="preload" href="{{ @_URL }}assets/fonts/FiraCode-Bold.woff2" as="font" type="font/woff2" crossorigin>-->
<!--<link rel="preload" href="{{ @_URL }}assets/fonts/FiraCode-VF.woff2" as="font" type="font/woff2-variations" crossorigin>-->
