{%- set _URL_s = U_o.url_s -%}
{% for _post_o in collections[ tags ] %}
{% if _post_o.data.permalink === permalink %}
{%- set _args_o = _post_o.data -%}
{% endif %}
{% endfor %}
{{- '' | template_start( _args_o ) -}}{# ante process #}

{%- set _head_block_s %}
<head>
{% include "parts/_site_url_.njk" %}
{% include "parts/_head_.njk" %}
{% include "parts/_seo_.njk" %}
{% include "parts/_description_.njk" %}
{% include "parts/_favicon_.njk" %}
{% include "parts/_feed_.njk" %}
{% include "parts/_font_inline_.njk" %}
{% include "parts/_style_inline_.njk" %}
{% include "parts/_style_.njk" %}
</head>
{% endset -%}

{%- set _body_block_s %}
<body>
<p>{{ _args_o.abstract_s }}</p>



{% include "parts/_nav_.njk" %}
{% include "parts/_article_.njk" %}
{% if U_o.dev_b === false %}{% include "parts/_instant_page_.njk" %}{% endif %}
{% include "parts/_script_.njk" %}
{% if no_comments !== true %}
{% include "parts/_colophon_.njk" %}
{% include "parts/_comment_.njk" %}
{% endif %}
</body>
{% endset -%}

{%- set _template_s %}
<!doctype html>
<html lang="en">
{{- _head_block_s | safe | head_end( _args_o ) -}}{# head process #}
{{- _body_block_s | safe | body_end( _args_o ) -}}{# body process #}
</html>
{% endset -%}

{#%- if output__s %}{% set _template_s = output__s( _template_s ) %}{% endif -%#}
{{- _template_s | safe | template_end( _args_o ) | minify_html -}}{# post process #}
