{% set _URL_s = settings.url_s %}
<!doctype html>
<html lang="en">
  <head>
  {% include "assets/scripts/js/_site_url_.njk" %}
  {% block HEAD %}{% include "parts/_head_.njk" %}{% endblock %}
  {% block SEO %}{% include "parts/_seo_.njk" %}{% endblock %}
  {% block METATAG %}{% include "parts/_description_.njk" %}{% endblock %}
  {% block FAVICON %}{% include "parts/_favicon_.njk" %}{% endblock %}
  {% block FEED %}{% include "parts/_feed_.njk" %}{% endblock %}
  {% block STYLES %}
  {% include "parts/_fonts_inline_.njk" %}
  {% include "parts/_styles_.njk" %}
  {% endblock %}
  </head>
  <body>
  {% block NAV %}{% include "parts/_nav_.njk" %}{% endblock %}
  {% block ARTICLE %}{% include "parts/_article_.njk" %}{% endblock %}
  {% block SCRIPTS %}
  {% if settings.dev_b === false %}{% include "assets/scripts/js/lib/_instant_page_.njk" %}{% endif %}
  {% include "parts/_scripts_.njk" %}
  {% endblock %}
  {% block COMMENTS %}
  {% include "parts/_colophon_.njk" %}
  {% include "parts/_comments_.njk" %}
  {% endblock %}
  </body>
</html>
