<article data--="article">
  <section data--="section">
  {{ layoutContent | safe }}
  </section>
{% if tags.includes( A_o.COLLECTION_s ) %}
{% include "parts/_page_link_njk" %}
{% endif %}
</article>
