<label data--="header"
       data-tip="Modify site skin by clicking inside this box: {% if C_o.HUE_SET_n === 1 %}↔ for color,{% endif %}↕ for luminosity mode">
  <span data--="header_title">{{ A_o.NAME_s }}</span>
</label>
