<link rel="apple-touch-icon" sizes="180x180" href="{{ U_o.url_s }}assets/media/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="{{ U_o.url_s }}assets/media/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="{{ U_o.url_s }}assets/media/favicon-16x16.png">
<link rel="manifest" href="{{ U_o.url_s }}assets/site.webmanifest">