{% set _css %}
{% include "../assets/styles/css/parts/_font_face_.css" %}
{% include "../assets/styles/css/parts/_font_.css" %}
{% endset %}
<style type="text/css">
{% if _U_.dev_b === true %}{{ _css | safe }}
{% else %}{{ _css | minify_css | safe }}
{% endif %}
</style>
