<label data--="header">
  <span data--="header_title">{{ A_o.NAME_s }}</span>
  <span data--="header_menu">{{ A_o.COLLECTTION_s + 's' }}</span>
</label>
<iframe data--="menu_frame" src="{{ _URL_s }}tips_list.html"></iframe>
