<span data--="header_netlify">
  <a href="{{U_o.NETLIFY_s}}">
    <img src="{{U_o.NETLIFY_s}}/img/global/badges/netlify-color-bg.svg"
         alt="{{A_o.ID_s}} is deployed on Netlify"
         title="{{A_o.ID_s}} is deployed on Netlify"/>
  </a>
</span>
