{
  "name":"{{ A_o.ID_s }}",
  "start_url": "{{ U_o.url_s }}",
  "short_name":"{{ A_o.ID_s }}",
  "description": "{{ A_o.description_o.DESCRIPT_s }}",
  "icons":
  [
    {"src":"/assets/media/android-chrome-192x192.png","sizes":"192x192","type":"image/png"},
    {"src":"/assets/media/android-chrome-512x512.png","sizes":"512x512","type":"image/png"}
  ],
  "theme_color":"#041D4E",
  "background_color":"#DDE8FD",
  "display":"standalone"
}