html
{
  font-size: calc( var(--font_size) * 1% );
}

body
{
  padding: 0 8vw;
  background: var(--c_back_lo);
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: .01em;
  line-height: 1.2;
}

nav
{
  height: 10vh;
  background: var(--c_back);
}

article
{
  color: var(--c_prim_lo);
  background: var(--c_back_hi);
  font-family: var(--font_body);
}

section
{
  padding: 24px;
  color: var(--c_prim_lo);
  background: var(--c_back_hi);
  font-family: var(--font_body);
}

/* Headers
 * h1: Title
 * h2: Section
 * h3: Subsection
 *
 * h5: Subtitle (file path)
 * h6: Reference (Prism)
 */
h1,
h2,
h3
{
  font-family: var(--font_title);
}
h1    /* Title */
{
  margin-top: 4rem;
  margin-bottom: 1.5rem;
  font-size: 3.2rem;
  font-weight: 800;
  line-height: 1; 
}
h2    /* Section */
{
  margin-top: 2.1rem;
  margin-bottom: 1.4rem;
  font-style: italic;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1; 
}
h3    /* Subsection */
{
  margin-top: 2rem;
  margin-bottom: 1.4rem;
  font-style: italic;
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 1; 
}

h1 + p
{
  margin-bottom: 4rem;
  font-style: italic;
  font-size: 1.75rem;
}

hgroup
{
  margin: 0;
  padding: 4px 8px;
  position: relative;
  top: 1rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: calc( var(--font_size) * 1.2 * 1% );
	color: hsla(var(--c_hue_d), 80%, 20%, .8);
  background: var(--c_decor_hi);
}

hgroup > h5,   /* Subtitle | File path */
hgroup > h6    /* Reference | Source */
{
  margin-bottom: .25rem;
  letter-spacing: -.05rem;
  line-height: 1;
}
hgroup > h5
{
	color: hsla(var(--c_hue_d), 80%, 20%, .6);
  font-size: 1.25rem;
}
hgroup > h6 > a
{
	color: hsla( 300, 80%, 20%, .6 );
  font-size: 1rem;
  font-weight: 200;
}

section > p,
section > footer,
section > table
{
  max-width: 55ch;
}

/* 65 + 5 == 70, same width as paragraph */
section > ol,
section > ul
{
  max-width: 50ch;
  -webkit-padding-start: 5%;
}

pre
{
  background: transparent;
  border-left: .4rem solid var(--c_decor_hi);
  overflow-y: hidden;
}

code
{
  padding: .2rem .5rem;
  background: var(--c_back_lo);
  border-radius: .4rem;
  font-family: var(--font_mono);
  white-space: nowrap;
}

pre > code
{
  border-radius: 0;
  display: block;
  padding: 1rem 1.5rem;
  white-space: pre;
}

blockquote
{
  border-left: 0.3rem solid var(--c_sec_hi);
  margin-left: 0;
  margin-right: 0;
  padding: 1rem 1.5rem;
}

blockquote *:last-child
{
  margin-bottom: 0;
}

dl,
ol,
ul
{
  list-style: none;
  margin-top: 0;
  padding-left: 0;
}

dl dl,
dl ol,
dl ul,
ol dl,
ol ol,
ol ul,
ul dl,
ul ol,
ul ul
{
  font-size: 1.5rem;
  margin: 1.5rem 0 1.5rem 3.0rem;
}

ol
{
  list-style: decimal inside;
}

ul
{
  list-style: circle inside;
}

dd,
dt,
li
{
  margin-bottom: 1.0rem;
}

table
{
  border-spacing: 0;
  width: 100%;
}

td,
th
{
  border-bottom: 0.1rem solid #e1e1e1;
  padding: 1.2rem 1.5rem;
  text-align: left;
}

td:first-child,
th:first-child
{
  padding-left: 0;
}

td:last-child,
th:last-child
{
  padding-right: 0;
}

b,
strong
{
  font-weight: bold;
}

p
{
  margin-top: 0;
}

hr
{
  border: 0;
  border-top: 0.1rem solid #f4f5f6;
  margin: 3.0rem 0;
}

a
{
  color: #9b4dca;
  text-decoration: none;
}

a:focus, a:hover
{
  color: #606c76;
}

blockquote,
p,
pre,
table,
dl,
ol,
ul
{
  margin-bottom: 2.5rem;
}

/*
.dark_mode
{
  filter: invert(1);
}
*/