:root
{
  --font_title: 'Athiti', sans-serif;
  --font_body:  'Harmattan', sans-serif;
  --font_mono:  'Fira Code', monospace;
  --font_size:  80;
}

html
{
  font-size: calc( var(--font_size) * 1% );
}


/* Harmattan-regular - latin */
@font-face
{
  font-display: swap;
  font-family: 'Harmattan';
  font-style: normal;
  font-weight: 400;
  src: local('Harmattan'), local('Harmattan-Regular'), url('{{ @SITE_URL }}assets/fonts/harmattan-v5-latin-regular.woff2') format('woff2');
}
/* Athiti-regular - latin */
@font-face
{
  font-family: 'Athiti';
  font-style: normal;
  font-weight: 400;
  src: local('Athiti'), local('Athiti-Regular'), url('{{ @SITE_URL }}assets/fonts/athiti-v3-latin-regular.woff2') format('woff2');
}
/* ==== Fira Code *==== */
@font-face {
  font-display: swap;
  font-family: 'Fira Code';
  src: local('Fira Code'), local('Fira Code-Light'), url('{{ @SITE_URL }}assets/fonts/FiraCode-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-display: swap;
  font-family: 'Fira Code';
  src: local('Fira Code'), local('Fira Code-Regular'), url('{{ @SITE_URL }}assets/fonts/FiraCode-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-display: swap;
  font-family: 'Fira Code';
  src: local('Fira Code'), local('Fira Code-Medium'), url('{{ @SITE_URL }}assets/fonts/FiraCode-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-display: swap;
  font-family: 'Fira Code';
  src: local('Fira Code'), local('Fira Code-Bold'), url('{{ @SITE_URL }}assets/fonts/FiraCode-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-display: swap;
  font-family: 'Fira Code VF';
  src: local('Fira Code'), local('Fira Code-VF'), url('woff2/FiraCode-VF.woff2') format('woff2-variations');
  /* font-weight requires a range: https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Fonts/Variable_Fonts_Guide#Using_a_variable_font_font-face_changes */
  font-weight: 300 700;
  font-style: normal;
}
