/* NOTES STYLES */
[data--="article"]
{
  counter-reset: inline_notes;
  counter-reset: examples;
}

[data--="inline_note"]
{
  --text_color: var(--c_prim_lo);
  --bg_color:   var(--c_back_lo);
  --line_color: var(--c_prim_tr);
  --font_body:   85%;
  --font_sup:    50%;
  --font_strong: 125%;

  text-decoration: none;
  cursor: pointer;
}

[data--="note_content"]
{
  display: inline-block;
  overflow: hidden;
  break-before: avoid;
  break-inside: avoid;
  width: 0;
  height: 0;
  pointer-events: none;
}

.note_open
{
  display: block;
  margin: var(--PAD_2) var(--PAD_4) var(--PAD_2) 0;
  padding: var(--PAD_1) var(--PAD_2);
  width: auto;
  height: auto;
  color: var(--text_color);
  background-color: var(--bg_color);
  border-left: var(--PAD_2) solid var(--line_color);
  font-size: var(--font_body);
  transition: all 0.4s ease;
}

[data--="inline_note"] > sup
{
  counter-increment: inline_notes;
  position: relative;
  top: -0.6rem;
  padding: 0 var(--PAD_2);
  border-bottom: var(--PAD_1) solid var(--line_color);
  vertical-align: baseline;
  font-size: var(--font_sup);
}
[data--="inline_note"] > sup::after
{
  content: counter( inline_notes );
}

/* NOTES MARKUP:

vertical space:  __<br>__
horizontal line: <u></u>
title <strong>:  __Title of the note__
bold <em>:       *Bold text*
*/
[data--="note_content"] u    /* horizontal line */
{
  display: inline-block;
  width: 100%;
  border-top: 1px solid var(--line_color);
}

[data--="note_content"] strong    /* title */
{
  display: inline-block;
  margin-top: var(--PAD_4);
  font-size: var(--font_strong);
  font-weight: 900;
  font-style: normal;
}

[data--="note_content"] em    /* emphasis */
{
  font-weight: 900;
  font-style: normal;
}

[data--="note_content"] a  /* link */
{
  text-decoration: none;
  pointer-events: auto;
}

[data--="note_content"] cite    /* citation */
{
  display: inline-block;
  padding-left: var(--PAD_4);
}
[data--="note_content"] cite:before
{
  content: '\00ab';
}
[data--="note_content"] cite:after
{
  content: '\00bb';
}

[data--="note_content"] code    /* code */
{
  display: inline-block;
  
  /* see prism_theme.css */
}
