[data--="menu"]
{
  z-index: 1;
  position: absolute;
  width: calc( 100vw - ( var(--pad_h) * 2vw ) );
  max-width: var(--MAX_WIDTH);
  height: 100vh;
  background: var(--c_back_op);
  transform: scaleY( var(--MENU_SHOW) );
  transition: all 0.3s ease-in-out;
}

[data--="tips_order"]
{
  cursor: pointer;
}
[data--="tips_order"]::after
{
  content: '⇅';
  margin-left: var(--PAD_8);
  font-size: 80%;
  font-style: normal;
}

[data--="tips_entry"]
{
  display: flex;

  list-style: none;
}

[data--="tips_entry"] *
{
  margin-right: var(--PAD_2);
}

[data--="tips_entry"] span
{
  padding: 2px var(--PAD_1);
  line-height: 1;
  color: hsla( 180, 10%, 10%, 1 );
	background: var(--c_decor_hi);
}
