[data--="header"]
{
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: sticky;
  top: 0;
  padding: var(--PAD_2) 0;
  color: var(--c_prim_lo);
  background: var(--c_back_op);
  border-bottom: 12px solid var(--c_decor_hi);
  opacity: 1;
  transition: all 0.5s ease-in;
}

[data--="header_title"]
{
  flex-grow: 2;
  margin-left: 2var(--PAD_1);
  font-family: var(--font_title);
  font-size: 4rem;
  font-weight: 900;
  line-height: .7;
}

[data--="header_menu"]
{
  padding: var(--PAD_1) var(--PAD_2);
  border: 1px solid var(--c_secondary);
  font-size: calc( var(--font_size) * 0.8 * 1% );
}
[data--="header_menu"]:hover
{
  cursor: pointer;
  background: var(--c_decor_hi);
}

[data--="menu"],
[data--="tips_entry"],
[data--="article"]
{
  color: var(--c_prim_lo);
  font-family: var(--font_body);
}

[data--="menu"] h4,
[data--="tips_entry"],
[data--="article"]
{
  background: var(--c_back_hi);
}

[data--="section"]
{
  padding: 2var(--PAD_1);
  color: var(--c_prim_lo);
  background: var(--c_back_hi);
}

[data--="code_ref"]
{
  margin-top: var(--PAD_4);
  padding: var(--PAD_1); var(--PAD_2);
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: calc( var(--font_size) * 1.2 * 1% );
	color: hsla(var(--c_hue_d), 80%, 20%, .8);
  background: var(--c_decor_hi);
}

[data--="code_ref"] > h5,   /* Subtitle | File path */
[data--="code_ref"] > h6    /* Reference | Source */
{
  font-size: 1.25rem;
  letter-spacing: -.05rem;
  line-height: 1;
}
[data--="code_ref"] > h5
{
	color: hsla(var(--c_hue_d), 80%, 20%, .6);
}
[data--="code_ref"] > h6 > a
{
	color: hsla( 300, 80%, 20%, .6 );
  font-weight: 200;
}

[data--="example"]
{
  counter-increment: examples;
  padding-left: var(--PAD_2);
  color: hsla( 180, 10%, 10%, 1 );
	background: var(--c_decor_hi);
}
[data--="example"]::before
{
  content: 'example #' counter(examples);
  display: block;
  margin-bottom: var(--PAD_2);
  padding-left: var(--PAD_1);
  border-bottom: 1px solid var(--c_decor_lo);
  font-size: calc( var(--font_size) * .7 * 1% );
  font-style: italic;
}
