/* NOTES STYLES */
.ca_area_text
{
  counter-reset: text_notes;
}

.ca_note_ins    /* <ins> */
{
  --text_color: hsla(var(--COLOR_HUE), var(--COLOR_SATUR_MEDIUM_L), 15%, 1.0 );
  --bg_color:   hsla(var(--COLOR_HUE), var(--COLOR_SATUR_MEDIUM_L), 92%, 1.0 );
  --line_color: hsla(var(--COLOR_HUE), var(--COLOR_SATUR_MEDIUM_L), 87%, 1.0 );
  --font_body:   85%;
  --font_sup:    50%;
  --font_strong: 125%;

  text-decoration: none;
  cursor: pointer;
}

.ca_note_content
{
  display: inline-block;
  overflow: hidden;
  break-before: avoid;
  break-inside: avoid;
  width: 0;
  height: 0;
  pointer-events: none;
}

.ca_note_open
{
  display: block;
  margin: var(--PAD_2) var(--PAD_4) var(--PAD_2) 0;
  padding: var(--PAD_1) var(--PAD_2);
  width: auto;
  height: auto;
  color: var(--text_color);
  background-color: var(--bg_color);
  border-left: var(--PAD_2) solid var(--line_color);
  font-size: var(--font_body);
  transition: all 0.4s ease;
}

.ca_note_ins > sup
{
  counter-increment: text_notes;
  position: relative;
  top: -0.6rem;
  padding: 0 var(--PAD_2);
  border-bottom: var(--PAD_1) solid var(--line_color);
  vertical-align: baseline;
  font-size: var(--font_sup);
}
.ca_note_ins > sup::after
{
  content: counter( text_notes );
}

/* NOTES MARKUP:

vertical space:  __<br>__
horizontal line: <u></u>
title <strong>: __Title of the note__
bold <em>:      *Bold text*
*/
.ca_note_content u    /* horizontal line */
{
  display: inline-block;
  width: 100%;
  border-top: 1px solid var(--line_color);
}

.ca_note_content strong    /* title */
{
  display: inline-block;
  margin-top: var(--PAD_4);
  font-size: var(--font_strong);
  font-weight: 900;
  font-style: normal;
}

.ca_note_content em    /* emphasis */
{
  font-weight: 900;
  font-style: normal;
}

.ca_note_content a  /* link */
{
  text-decoration: none;
  pointer-events: auto;
}

.ca_note_content cite    /* citation */
{
  display: inline-block;
  padding-left: var(--PAD_4);
}
.ca_note_content cite:before
{
  content: '\00ab';
}
.ca_note_content cite:after
{
  content: '\00bb';
}
