<!doctype html>
<html lang="en">
  <head>
  {% block head %}{% include "templates/partials/blocks/_head_.njk" %}{% endblock %}
  {% block seo %}{% include "templates/partials/blocks/_seo_.njk" %}{% endblock %}
  {% block metatag %}{% include "templates/partials/blocks/_description_.njk" %}{% endblock %}
  {% block favicon %}{% include "templates/partials/blocks/_favicon_.njk" %}{% endblock %}
  {% include "assets/scripts/js/_site_url_.njk" %}
  {% block styles %}
  {% include "templates/partials/blocks/_fonts_inline_.njk" %}
  {% include "templates/partials/blocks/_styles_.njk" %}
  {% endblock %}
  </head>
  <body>
    {% block nav %}{% include "templates/partials/blocks/_nav_.njk" %}{% endblock %}
    {% block article %}{% include "templates/partials/blocks/_article_.njk" %}{% endblock %}
    {% block scripts %}
    {% if settings._isDev === false %}{% include "assets/scripts/js/lib/_instant_page_.njk" %}{% endif %}
    {% include "templates/partials/blocks/_scripts_.njk" %}
    {% endblock %}
  </body>
</html>
