---js
{
  pagination:
  {
    data: 'collections.tip',
    size: 10,
    alias: 'tips',
  },
}
---
{% extends "base.njk" %}

{% set @template = "templates/partials/blocks/_list_content_.njk" %}
{% block article %}{% include "templates/partials/blocks/_article_.njk" %}{% endblock %}
