---js
{
  pagination:
  {
    data: 'collections.tip',
    size: 10,
    alias: 'tips',
  },
}
---
<menu data--="menu">
  <p><a href="{{ settings._url }}">Home</a></p>
  <h3>All the tips</h3>
  <ol>
  {% for tip in tips %}
    <li data--="menu_entry"><a href="{{ tip.url | url }}">{{ tip.data.title }}</a><span>{{ tip.data.subtitle }}</span></li>
  {% endfor %}
  </ol>
</menu>
