---js
{
  pagination:
  {
    data: 'collections.tip',
    size: 100,
    alias: 'tips',
  },

  permalink: 'tips_list_{{ pagination.pageNumber }}.html'
}
---
{% extends "base.njk" %}

{% set @template = "templates/partials/blocks/_list_content_.njk" %}
{% block article %}{% include "templates/partials/blocks/_article_.njk" %}{% endblock %}
