---js
{
  pagination:
  {
    data: 'collections.tip',
    size: 10,
    alias: 'tips_a',
  },
  tipRank__s: at_n => `${(at_n < 10) ? '00' : (at_n < 100) ? '0' : ''}${at_n}`
}
---
<menu data--="tips_menu">
  <h4><a href="{{ settings.url_s }}">Home</a></h4>
  <h4>→ <a href="{{ settings.git_s }}" target="_blank" rel="noreferrer">Github</a></h4>
  <h4>→ <a href="{{ settings.twi_s }}" target="_blank" rel="noreferrer">Twitter</a></h4>
  <h4>→ <a href="{{ settings.rss_s }}" target="_blank">RSS</a></h4>
  <h2 data--="tips_order">All the tips</h2>
  <ol data--="tips_list">
  {% set tip_n = 1 %}
  {% for tip_e in tips_a %}
    <li data--="tips_entry">
      <span>#{{ tipRank__s(tip_n) }}</span>
      <a href="{{ tip_e.url | url }}">{{ tip_e.data.title }}</a>
      <span>{{ tip_e.data.subtitle }}</span>
    </li>
  {% set tip_n = tip_n + 1 %}
  {% endfor %}
  </ol>
</menu>
