{% set _css %}
{% include "./parts/_ui_.css" %}
{% include "./parts/_note_.css" %}
{% include "./parts/_menu_.css" %}
{% include "./parts/_prism_theme_.css" %}
{% include "./parts/_comment_.css" %}
{#% include "./parts/_dark_mode_.css" %#}
{#% include "./parts/_aspect_ratio_.css" %#}
{#% include "./parts/_source_tree_.css" %#}
{% endset %}
{% if U_o.dev_b === true %}{{ _css | safe }}
{% else %}{{ _css | minify_css | safe }}
{% endif %}
