:root
{
  --PAD_W: 8;
  --PAD_1: calc( var(--PAD_W) * .5px );
  --PAD_2: calc( var(--PAD_1) * 2 );
  --PAD_4: calc( var(--PAD_1) * 4 );
  --PAD_8: calc( var(--PAD_1) * 8 );

  --CONTENT_WIDTH: calc( var(--PAD_W) * 120px );    /* 960px */
}
